<h1>Pages#Help</h1>
<p>Find me in app/views/pages/help.html.erb</p>


<div class="carousel slide" id="carousel-example">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example" data-slide-to="1"></li>
        <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://lorempixel.com/1170/300" alt="Immagine" />
            <div class="carousel-caption">Awesome picture...</div>
        </div>
        <div class="item">
            <img src="http://lorempixel.com/1170/300/sports" alt="Immagine sportiva" />
            <div class="carousel-caption">Sport</div>
        </div>
        <div class="item">
            <img src="http://lorempixel.com/1170/300/cats" alt="Immagine miciosa" />
            <div class="carousel-caption">Meeewww...</div>
        </div>
    </div>
    
    <a href="#carousel-example" data-slide="prev" class="left carousel-control">
        <span class="icon-prev"></span>
    </a>
    <a href="#carousel-example" data-slide="next" class="right carousel-control">
        <span class="icon-next"></span>
    </a>
    
</div>
<section id="features">
<h2>Ecco un bel titolozzo nanozzico!</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident velit sunt veniam eos consequatur nisi doloribus dolore. Voluptate, officia, impedit dolores aliquam distinctio quas molestiae autem quam corporis cumque excepturi?</span>
<span>Quos, tempore, dolore, eum veniam ducimus accusamus eos quibusdam necessitatibus consequatur neque rem minima ipsa est cupiditate illum qui eveniet recusandae repellat rerum magnam ut deserunt nihil dolor voluptatum dicta.</span>
<span>Commodi, ipsum voluptatem quidem quod neque? Deserunt, eveniet, eligendi quos similique adipisci a rem aliquam eaque voluptatum vel. Qui, animi, commodi omnis maiores deleniti libero tempora laudantium ex inventore accusantium!</span>
<span>Nulla esse harum eveniet commodi. Voluptates, itaque, esse, veniam animi aspernatur excepturi magnam suscipit eveniet recusandae tempore atque unde adipisci facere id aliquid aut eum in quaerat facilis iusto consequatur.</span></p>
    <hr>
        <div class="row">
        <div class="col-lg-6">
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="http://lorempixel.com/64/64">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Feature name</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            
        </div>
        
        <div class="col-lg-6">
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="http://lorempixel.com/64/64">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Feature name</h4>
                <p>Luca era gay, ma tanto tanto gay.</p>
            </div>
            
        </div>
        
        <div class="col-lg-6">
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="http://lorempixel.com/64/64">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Sancho Panza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ullam, nobis, cum dolore ad nam error amet fugit numquam eos illum quos harum autem beatae fuga libero sed omnis at.</p>
            </div>
            
        </div>
        
        <div class="col-lg-6">
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="http://lorempixel.com/64/64">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Luca Grossi</h4>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, atque, repellendus voluptatem quibusdam tenetur assumenda nobis error dicta natus reiciendis magni aspernatur quasi vel facere adipisci. Dolores, porro molestias vitae!</span>
                <span>Ratione, soluta dignissimos nihil molestias. Aspernatur provident natus tempora rem cupiditate inventore praesentium dignissimos laboriosam? Asperiores, unde autem saepe facere accusamus. Quidem, cum blanditiis dolorem maiores molestiae fugiat quibusdam dolore!</span>
                <span>Ea, repudiandae, culpa, cum non tempora odit architecto temporibus quasi delectus repellat sequi unde corrupti voluptates mollitia laboriosam. Quisquam, eum quis facere qui numquam sapiente veritatis recusandae culpa illo accusantium!</span>
                <span>Perferendis consectetur mollitia hic a officiis dolores deleniti iste maxime voluptas provident! Consequatur, nemo, quos commodi nisi officiis voluptates recusandae repudiandae iure aspernatur nulla alias eos voluptas aperiam mollitia eligendi!</span></p>
            </div>
            
        </div>
</div>
    
</section>

<section id="testimonials">
    <div class="panel">
        <div class="panel-heading">A few words from our customers.</div>
        <row>
            <div class="col-lg-6">
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, molestias!
                        <small>
                            Thorgrim Portrarancore from
                            <cite>KarakOttoPicchi</cite>
                        </small>
                </blockquote>
            </div>
            <div class="col-lg-6">
                <blockquote>
                    Tanto va la gatta al lardo che ci lascia Pontellini
                    <small>Malviagio from<cite>Athel Loren</cite></small>
                </blockquote>
            </div>
        </row>
    </div>
</section>

<hr>


<section id="order">
    <div class="well  well-lg">
        <h3 class="text-center">Order now!</h3>
        <p class="text-center">Receive a lot of bonus.</p>
        <p class="text-center"><a href="" class="btn btn-primary">Place order &rarr;</a></p>
    </div>
</section>
