<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, voluptatem deserunt soluta velit vitae rem corporis enim fuga expedita ipsam aliquam earum consectetur doloremque! Magni laudantium ab sunt error quas!</p>

<%= link_to 'Sign up now!', signup_path, :class => "signup_button round" %>
